<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-bit6"
    version="0.11.0">

    <name>Bit6</name>
    <description>Add voice and video calling, text and media messaging to your app</description>
    <license>Apache 2.0</license>
    <keywords>webrtc,messaging,communication,text</keywords>

    <engines>
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <dependency id="cordova-plugin-device"/>

    <js-module src="www/utils.js" name="Utils">
    </js-module>

    <js-module src="www/bit6.js" name="Bit6SDK">
    </js-module>

    <js-module src="www/push-wrappers.js" name="PushWrappers">
    </js-module>

    <js-module src="www/index-bit6.js" name="Bit6">
        <clobbers target="Bit6" />
    </js-module>


    <platform name="ios">
       <config-file target="config.xml" parent="/*">
            <feature name="UtilsPlugin">
                <param name="ios-package" value="UtilsPlugin" />
            </feature>
        </config-file>
        <config-file platform="ios" target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Requires camera for video calls</string>
        </config-file>
        <config-file platform="ios" target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>Requires microphone for calls</string>
        </config-file>


        <framework src="libc++.dylib" />
        <framework src="libstdc++.dylib" />
        <framework src="libsqlite3.0.dylib" />
        <framework src="libicucore.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreAudio.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="GLKit.framework" />

        <source-file src="src/ios/UtilsPlugin.m" />
        <source-file src="src/ios/UtilsPlugin.h" />
    </platform>
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:glEsVersion="0x00020000" android:required="true"></uses-feature>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>


        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebSocket">
                <param name="android-package" value="com.ququplay.websocket.WebSocket" />
            </feature>
        </config-file>
    </platform>
</plugin>
