<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bit6.sdk"
version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Bit6</name>
  <description>Bit6 Cordova SDK </description>

  <js-module name="b6" src="www/bit6/bit6.min.js">
    <clobbers target="b6" />
  </js-module>

</plugin>
